body {
  margin: 0;
  background: black;
  overflow: hidden;
}
canvas {
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading{
  font-size: 60px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 7px;
  word-spacing: 12px;
  text-transform: uppercase;
  color:rgb(238, 238, 238);
  position: relative;
  left: 39% ;
  margin-top: 20px;
}
.main{
  background-color: blueviolet;
  opacity: 0.05;
  height: 80vh;
  width: 180vh;
}