body {
  margin: 0;
  background: black;
 
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
canvas {
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
}
.container {
  background:rgba(205,206,255,0.1);
  height: 100vh;
  width: 180vh;
}
.heading{
  font-size: 60px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 7px;
  word-spacing: 12px;
  text-transform: uppercase;
  color:rgb(238, 238, 238);
  position: relative;
  margin-top: 5px;
  display: block;
}
.main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.date{
  font-size: 30px;
  color: white;
  margin: 10px;
  display: block;
  width: 100%;
  text-align: center;
}
.image{
  position: relative;
 
  
}
.explanation{
  font-size: 30px;
  color: white; 
}